.contacts {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 30px 15px;
}

.contact__list {
  display: flex;
  gap: 54px;
  align-items: center;
}

.contact__item {
  display: flex;
  min-width: 240px;
  text-align: left;
}

.contacts__button {
  min-width: 118px;
  border: none;
  border-radius: 50px;
  flex-grow: 1;
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  padding: 0 16px 0 16px;
  background-color: rgba(23, 26, 32, 0.8);
  color: white;
  cursor: pointer;
}

.contacts__button:hover,
.contacts__button:focus {
  background-color: rgba(23, 26, 32, 1);
}
