.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.logout__button {
  background-color: rgba(23, 26, 32, 0.8);
  border: none;
  border-radius: 50px;
  color: #fff;
  flex-grow: 1;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 118px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
}

.logout__button:hover,
.logout__button:focus {
  background-color: rgba(23, 26, 32, 1);
}
